# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Dependency directory
node_modules/

# Build output
dist/
dist-ssr/

# Vite cache
.vite/

# OS-specific files
.DS_Store

# VSCode settings
.vscode/*
!.vscode/extensions.json

# IDE-specific files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Local environment settings
*.local

# Swap files
*.sw?
