:root {
  --pastel-light-blue: #a8dadc;
  --pastel-mint-green: #d1fae5;
  --pastel-lavender: #e6e6fa;
  --pastel-beige: #f5f5dc;

  --earth-tone-green: #8fb397;
  --earth-tone-brown: #d2b48c;
  --earth-tone-sand: #f4a261;

  --cool-blue-light: #b3cde0;

  --primary-color: #8fb397;
  --background-color: #f0f2f5;
  --card-background-color: #fff;
  --button-hover-color: #6d8b73;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --text-color: #333;
}
