nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007BFF;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
