@media (max-width: 990px) {
  .container,
  footer,
  nav {
    width: 90%;
  }

  .container {
    padding: 1.5rem;
  }

  .surah-button,
  .action-button {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .container,
  footer,
  nav {
    width: 100%;
  }

  .container {
    padding: 1rem;
  }

  nav a {
    margin: 0 0.5rem;
    font-size: 1rem;
  }
}